/*
Example:
@font-face {
  font-family: "Some-Font-Name";
  src: url("some-font-regular.eot");
  src: url("some-font-regular.eot?#iefix") format("embedded-opentype"),
    url("some-font-regular.woff2") format("woff2"),
    url("some-font-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*/